/* You can add global styles to this file, and also import other style files */
@import url("https://fonts.googleapis.com/css2?family=Montserrat+Alternates:wght@300&display=swap");
body {
  background-color: #131722;
  color: #fff;
  font-family: "Montserrat Alternates", sans-serif;
}

a, a:hover {
  color: #fff !important;
  text-decoration: none;
}

.bg-light {
  background-color: #24baef !important;
}